@import url(https://fonts.google.com/specimen/Inter);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    height: 100vh;
    /* background-color: hsl(0, 0%, 8%); */
    background: linear-gradient(135deg, #1e1e1e, #121212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Font weights for specific elements */
h2 {
    font-weight: 700;
    /* Bold heading */
}

p {
    font-weight: 400;
    /* Regular paragraph text */
    font-size: 16px;
}

button {
    border-radius: 15px;
    padding: 5%;
    width: 100%;
    margin-top: 15px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: 0;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
    transform: scale(1.05);
}


img {
    height: 15%;
    border-radius: 50%;
    /* This makes the image circular */
    object-fit: cover;
    margin-bottom: 5%;
    border: 4px solid #99ff00; /* Or another color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#social-links-container {
    background-color: hsl(0, 0%, 12%);
    max-width: 375px;
    max-height: 80vh;
    width: 90%;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#social-links-container:hover{
    box-shadow: 0 0 8px rgba(162, 245, 9, 0.978);
    transform: scale(1.01); /* Slight zoom effect */
}
#profile-name {
    color: hsl(75, 94%, 57%);
}

#profile-tagline{
    margin-top: 5%;
}