* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    border-radius: 15px;
    padding: 5%;
    width: 100%;
}

#social-links-container {
    background-color: hsl(0, 0%, 12%);
    max-width: 375px;
    width: 90%;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}